
.topNav {
    position: fixed;
    left: 0;
    top: 0;
    right:0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    /*background-color: Transparent;*/
    background-color: rgba(255, 255, 255, 0.5);
    padding: 0;
    /*box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);*/
    z-index: 3;
    border-bottom: #929191;
    border-bottom-style: solid;
    border-width: 1px;
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
}

.toolbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    align-items: center;
    align-content: center;
    z-index: 4;
}

.leftToolsContainer {
    z-index: 5;
    display: flex;
    align-items: center;
}

.toolBarButton {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 54px;
    height: 54px;
}

.toolBarButton a {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    text-decoration: none;
    color: rgba(84, 78, 138, 0.5);
    transition: 0.6s ease;
}

.toolBarButton a span {
    font-size: 54px;
}



.toolBarButton img {
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 100%;
    transition: 0.6s ease;
}


.navigationLinks {
    display: flex;
    flex-direction: row;
}

.navigationLinks a {
    text-decoration: none;
    color: whitesmoke;
    padding: 4px 8px 4px 8px;
    margin: 4px;
    cursor: pointer;
    background-color: var(--color-light);
    border-radius: 4px;
    transition: 0.6s ease;
}

.menuDropdown {
    z-index: 5;
    display: none;
    position: relative;
}

.menuDropdown .btn {
    z-index: 3;
    margin: 8px;
    padding: 4px 10px 4px 10px;
    font-size: 14px;
    height: 45px;
    width: 45px;
}

.menuDropdown .btn i {
    margin: 0;
    padding: 5px 0 0 0;
    /*padding: 8px;*/
}

.menuDropdownContent {
    position: absolute;
    min-width: 30px;
    overflow: auto;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 6;
    right: 8px;
    border-radius: 4px;
}

.menuDropdownContent a, .languageDropdownContent span {
    z-index: -1;
    color: white;
    padding: 12px 12px;
    text-decoration: none;
    display: block;
    cursor: pointer;
    background-color: rgba(var(--color-background), .7);
    backdrop-filter: blur(2px);
    transition: 0.6s ease;
}


/* Add a color to the active/current link */
.navigationLinks a.active {
    color: rgba(187, 187, 187, 0.5);
}

.menuDropdownContent a.active {
    color: rgb(187, 187, 187);
    background-color: rgba(var(--color-dark-background), 0.7);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-weight: bold;
}



.languageDropdown {
    /*margin-right: 20%;*/
}

.languageDropdown .btn {
    font-weight: bold;
    font-size: 14px;
    height: 45px;
    width: 45px;
    transition: 0.6s ease;
}

.languageDropdownContent {
    z-index: 6;
    position: absolute;
    min-width: 30px;
    overflow: auto;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 3;
    margin: 0 0 0 8px;
    border-radius: 8px;
    align-items: center;
    align-content: center;
    text-align: center;
    transition: 0.6s ease;
    font-size: 14px;
    font-weight: bold;
}

.selected {
    background-color: rgba(var(--color-dark-background), 0.8) !important;
}

@media screen and (max-width: 800px) {
    .menuDropdown {
        display: block;
        position: relative;
        z-index: 5;
    }

    .navigationLinks {
        display: none;
    }

    .languageDropdown {
        margin-right: 0;
    }
}

@media screen and (min-width: 800px) {

    .navigationLinks a:hover {
        color: whitesmoke;
        background-color: var(--color);
    }

    .toolBarButton a img:hover {
        opacity: 0.7;
    }

    .toolBarButton a:hover {
        color: var(--color-dark);
    }

    .menuDropdownContent a:hover, .languageDropdownContent span:hover {
        background-color: rgba(var(--color-dark-background), 0.8);
    }
}

#logo {
    width: 200px;
    height: 200px;
    border-radius: 100%;
}