/*@import '~material-design-icons/iconfont/material-icons.css';*/

.App {
  /*height: 100%;*/
  /*overflow: auto;*/
  /*height: max-content;*/
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  background-color: var(--bg-color);
  z-index: 1;

}

.appContent {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  /*height: 100%;*/
  min-height: 100%;
  /*width: 100%;*/
  /*overflow: auto;*/
  padding: 0;
  /*background-color: #ead5fd;*/
  z-index: 1;
}


/* Set a style for all buttons */
.button {
  color: white;
  border: none;
  cursor: pointer;
  outline:none;
  background-color: var(--color-light);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 8px;
  padding: 8px;
  transition: 0.6s ease;
  border-radius: 8px;
}

/* Add a hover effect for buttons */
@media only screen and (min-width: 800px) {
  .button:hover {
    background-color: var(--color-dark);
  }
}

.page {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*height: 100%;*/
  /*width: 100%;*/
  background-color: var(--bg-color);
  z-index: 2;
}

a {
  text-decoration: none;
}

