body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

@media screen and (min-width: 320px) and (max-width: 1400px) {
  body {
    font-size: calc(16px + 4 * ((100vw - 320px) / 680));
  }
}

@media screen and (min-width: 1400px) {
  body {
    font-size: 20px;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --color: #1f30a2;
  --color-background: 31, 48, 162;
  --color-light: #6071e3;
  --color-background: 96, 113, 227;
  --color-dark: #041167;
  --color-dark-background: 4, 17, 103;
  --bg-color: #ffffff;
  --bluegrey: #546e7a;
}
