#homePageContent {
    width: 100%;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    justify-content: space-between;
    align-items: center;
}

#homePageHeader {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    /*text-align: center;*/
    background-image: linear-gradient(to bottom right, rgb(27, 177, 177) , rgba(167, 255, 255, 0.879));
    margin-bottom: 16pt;
}

.headerBlock {
    flex-grow: 1;
    max-width: 600px;
    min-width: 300px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

#homePageBody {
    max-width: 1000pt;
    padding: 4px;
    display: grid;
    /*grid-template-columns: auto auto auto;*/
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.first {
    position: relative;
}

.first::after {
    font-size: 18px;
    content: "\25B2";
    display: block;
    position: absolute;
    left: -8px;
    top: -13px;
}

p {
    white-space: pre-line;
}

.left {
    grid-column: 1;
}

.midle {
    grid-column: 2;
}

.right {
    grid-column: 3;

}

.block {
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}


.leftBlock {
    position: relative;
    align-items: flex-end;
    grid-column: 1 / span 2;
    border-right: 2pt;
    border-left: 2pt;
    border-right-style: solid;
}

.leftBlock::before {
    position: absolute;
    font-size: 18px;
    content: "\25CF";
    top: 30pt;
    right: -7pt;
}

.rightBlock {
    position: relative;
    align-items: flex-start;
    grid-column: 2 / span 2;
    border-left: 2pt;
    border-right: 2pt;
    border-left-style: solid;
}

.rightBlock::before {
    position: absolute;
    font-size: 18px;
    content: "\25CF";
    top: 30pt;
    left: -7pt;
}


.midHorizBlock {
    height: 20pt;
    display: flex;
    flex-direction: column;
}

.time {
    margin-top: 20pt;
    padding: 8pt;
    display: flex;
    flex-direction: column;
}

.time.left > span {
    text-align: right;
}

.time.right > span {
    text-align: left;
}


#topLineBlock {
    position: relative;
    flex: 1;
    border-left: 2pt;
    border-left-style: solid;
    border-bottom-left-radius: 8pt;
    border-bottom: 1pt;
    border-bottom-style: solid;
}

#topLineBlock::after, #bottomLineBlock::before {
  background-color: white;
  content: "";
  display: block;
  height: 10pt;
  position: absolute;
  width: 10pt;
}

#topLineBlock::after {
    bottom: -1pt;
    right: -2pt;
}

#bottomLineBlock {
    position: relative;
    flex: 1;
    border-right: 2pt;
    border-right-style: solid;
    border-top-right-radius: 8pt;
    border-top: 1pt;
    border-top-style: solid;
}

#bottomLineBlock::before {
    top: -1pt;
    left: -2pt;
}

.headerPhoto {
    width: 400px;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
}

@media screen and (max-width: 800px) {
    .empty {
        width: 0;
    }
}
