
.homePageVideoContainer {
    position: fixed; /* or absolute */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /*overflow: hidden;*/
    z-index: 0;
}

.homePageVideoContainer video {
    min-width: 100%;
    min-height: 100%;
}

#homePageContent {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 2;
}

.greeting {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background-color: Transparent;
    z-index: 2;
    /*font-family: 'Courgette', cursive;*/
    font-family: 'Great Vibes', cursive;
}


